 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
  <div class="tech">
      <h2>Speaker</h2>
       <img src="{{ "/assets/img/bsides.png" | prepend: site.baseurl }}" height="250">
      <p style="text-align: justify;margin: 5px">The First Egyptian Undergrad Speaker at BSides Cairo 2020.</p>
    </div>
    <div class="tech">
      <h2>Founder</h2>
      <img src="{{ "/assets/img/cat.png" | prepend: site.baseurl }}" height="250">
      <p style="text-align: justify;margin: 5px">CAT Reloaded Cyber Security Circle at 2018. Cyber Security Community Leader at Mansoura, Egypt.</p>
    </div>
    <div class="tech">
      <h2>Intern</h2>
      <img src="{{ "/assets/img/trend.png" | prepend: site.baseurl }}" height="250">
      <p style="text-align: justify;margin: 5px">Hands-on Training in Threat Defense & Cloud at Trend Micro North Africa CPITS 2021.</p>
    </div>
</div>
