 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Intern</h2>
      <img src="/assets/img/favicon.ico" alt="hancitor">
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>One of the 14 CPITSians for Trend Micro 2021</p>
    </div>
    <div class="tech">
      <h2>Speaker</h2>
      < <img src="/assets/img/favicon.ico" alt="hancitor">
      <p>The first undergrad speaker at BSides Cairo 2020</p>
    </div>
    <div class="tech">
      <h2>Founder</h2>
      <p>Founder of the reloaded CAT cyber security circle</p>
    </div>
</div>
