<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/dridex.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 style="margin:0; padding:0"> RE Hancitor Malware Loader </h3>
    <ul>
      <li> DLL Unpacking</li>
      <li> Process Injection</li>
      <li> Host Profiling</li>
      <li> Indicators of Compromise</li>
      <li> YARA Rule</li>
      <li> Configuration Extraction</li>
    </ul>
    <p>Dissecting Hancitor the famous malware loader. Hancitor has been in use for years since first being observed in 2015. Hancitor has been the attacker's loader of choice to deliver malwares like: FickerStealer, Sendsafe, and Cobalt Strike if the victim characteristics are met.</p>
    <a class="project-link" href="https://cyber-anubis.github.io/malware%20analysis/hancitor/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/redline.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 style="margin:0; padding:0"> RE RedLine Infostealer Malware </h3>
    <ul>
     <li> Reversing .NET </li>
      <li> Data Exfiltration</li>
      <li> Location Tracking</li>
      <li> Crypto Stealing</li>
      <li> Broswer Harvesting</li>
      <li> YARA Rule</li>
    </ul>
    <p>Reverse Engineering the newly emerged RedLine infostealer malware. RedLine was first being noticed at 2020 via COVID-19 phishing emails, and has been active in 2021. RedLine is used for extensive information stealing operations, like: credit card credentials, Crypto wallets, sensitive files, etc. Furthermore, RedLine also can be used as malware loader or dropper for extended malicious impact.</p>
    <a class="project-link" href="https://cyber-anubis.github.io/malware%20analysis/redline/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/hancitor.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 style="margin:0; padding:0"> RE Hancitor Malware Loader </h3>
    <ul>
      <li> DLL Unpacking</li>
      <li> Process Injection</li>
      <li> Host Profiling</li>
      <li> Indicators of Compromise</li>
      <li> YARA Rule</li>
      <li> Configuration Extraction</li>
    </ul>
    <p>Dissecting Hancitor the famous malware loader. Hancitor has been in use for years since first being observed in 2015. Hancitor has been the attacker's loader of choice to deliver malwares like: FickerStealer, Sendsafe, and Cobalt Strike if the victim characteristics are met.</p>
    <a class="project-link" href="https://cyber-anubis.github.io/malware%20analysis/hancitor/">Check it out</a>
  </div>
</div>
