<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/hancitor.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 style="margin:0; padding:"0"> RE Hancitor Malware Loader </h3>
    <ul>
      <li> DLL Unpacking</li>
      <li> Process Injection</li>
      <li> Host Profiling</li>
      <li> Indicators of Compromise</li>
      <li> YARA Rule</li>
      <li> Configuration Extraction</li>
    </ul>
    <p>Dissecting Hancitor the famous malware loader. Hancitor has been in use for years since first being observed in 2015. Hancitor has been the attacker's loader of choice to deliver malwares like: FickerStealer, Sendsafe, and Cobalt Strike if the victim characteristics are met.</p>
    <a class="project-link" href="https://cyber-anubis.github.io/malware%20analysis/hancitor/">Check it out</a>
  </div>
</div>
<!-- Do not display this div at the moment
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
-->
