<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "![hancitor_thumbnail](https://user-images.githubusercontent.com/33065305/132714570-2a261618-f6c0-487d-a5d4-35311094ca16.png)" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hancitor Malware Loader </h3>
    <ul>
      <li> Unpacking DLL</li>
      <li> Process Injection</li>
      <li> Configuration Extraction</li>
    </ul>
    <p>Hancitor is a famous malware loader that has been in use for years since first being observed in 2015. Hancitor has been the attacker's loader of choice to deliver malwares like: FickerStealer, Sendsafe, and Cobalt Strike if the victim characteristics are met.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
